@import url("./base.css");

body {
  height: 100vh;
  background-color: var(--color-primary);

  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
}

main {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.card {
  max-width: 20.4375rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  background-color: var(--color-white);
  padding: 24px;

  cursor: pointer;

  border: 1px solid var(--color-black);
  border-radius: 20px;

  box-shadow: 8px 8px 0px 0px #000;
  transition: box-shadow var(--transition-duration);
}

.card:focus,
.card:hover {
  box-shadow: 16px 16px 0px 0px #000;
}

.card:hover .card__title,
.card:focus .card__title {
  color: var(--color-primary);
}

.card__image {
  border-radius: 10px;
  min-height: 12.5rem;
  object-fit: cover;
}

.card--body {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.card__title {
  order: 2;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-extra-bold);

  transition: color var(--transition-duration);
}

.card__date {
  order: 1;
  font-size: var(--font-size-12);
}

.card__tag {
  order: 0;

  display: inline-block;
  width: fit-content;

  background-color: var(--color-primary);
  padding: 4px 12px;
  border-radius: 4px;

  font-size: var(--font-size-12);
  font-weight: var(--font-weight-extra-bold);
}

.card__description {
  order: 3;

  font-size: var(--font-size-14);
  color: var(--color-grey);
}

.card--author {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.card--author__image {
  width: 2rem;
  height: 2rem;
}

.card--author__name {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-extra-bold);
}

@media (min-width: 90rem) {
  .card {
    max-width: 24rem;
  }

  .card__title {
    font-size: var(--font-size-24);
  }

  .card__date {
    font-size: var(--font-size-14);
  }

  .card__tag {
    font-size: var(--font-size-14);
  }

  .card__description {
    font-size: var(--font-size-16);
  }
}
